#main-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95vh;
  width: 90vw;

}

#title-game {
  margin: 0px;
  padding: 0px;
  border-radius: 15px;
  width: 90%;
  height: 12%;
  min-width: 1300px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  border: 1vmin solid #2e2e2e;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.867);
}

#title-game p {
  font-family: "Londrina Solid";
  margin: 0;
  font-size: 100px;
  font-weight: 800;
  color: #ffe629;
  -webkit-text-stroke: 5px #001aff; 
  background-clip: text;
}
#title-game img {
  width: 120px;
  height: 120px;
}

#cards-conteiner {
  margin: 0px;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  height: 70%;
  min-width: 1200px;
  min-height: 450px;
  margin: 20px 0 0 0;
  background: url(/img/poke_wall2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando es necesario */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  color: black;
  animation: fadeEffect 1s ease-in-out forwards;
  padding: 1rem;
  border-radius: 1rem;
  border: 1vmin solid #2e2e2e;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow:auto;
  color: rgb(0, 0, 0);
  
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#cards-start {
  margin: 0px;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  height: 70%;
  margin: 20px 0 0 0;
  background: url(/img/poke_wall2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando es necesario */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  border: 1vmin solid #2e2e2e;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: rgb(0, 0, 0);
  
}

#cards-start button {
    width: 230px; 
    height: 230px;
    border-radius: 150px;
    cursor: pointer;
    font-size: 50px;
    padding: 10px 25px;
  border: 2px solid rgb(50, 50, 50);
  border-bottom: 5px solid rgb(50, 50, 50);
  box-shadow: 0px 1px 6px 0px rgb(255, 255, 255);
  transform: translate(0, -3px);
  transition: 0.2s;
  transition-timing-function: linear;
  font-family: 'Quicksand', sans-serif;
  }

#cards-start button:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
}

#cards-start button:hover {
    border-bottom: 10px solid rgb(50, 50, 50);
}

#cards-finish {
  margin: 0px;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  height: 70%;
  margin: 20px 0 0 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: auto; /* Agrega una barra de desplazamiento vertical cuando es necesario */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
  background: url(/img/poke_wall2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-style: ridge;
  padding: 1rem;
  border-radius: 1rem;
  border: 1vmin solid #2e2e2e;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: rgb(0, 0, 0);
  
}

#finish-title {
  margin: 0px;
  padding: 0px;
  border-radius: 15px;
  width: 90%;
  height: 60%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1vmin solid #2e2e2e;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.621);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-style: ridge;
}

#finish-title h1 {
  font-size: 100px;
  font-weight: 900;
  color: #000000;
  text-shadow: 15px 15px 15px rgb(0, 0, 0); 
  margin: 30px;
}

#finish-title button {
  width: 250px; 
  height: 70px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 25px;
border: 2px solid rgb(50, 50, 50);
border-bottom: 5px solid rgb(50, 50, 50);
box-shadow: 0px 1px 6px 0px rgb(255, 255, 255);
transform: translate(0, -3px);
transition: 0.2s;
transition-timing-function: linear;
font-family: 'Quicksand', sans-serif;
}

#finish-title button:active {
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}

#finish-title button:hover {
  border-bottom: 10px solid rgb(50, 50, 50);
}